aw-client
intervaltree
scikit-learn
# For get_outlook_events.py.
selenium
# For get_jira_events.py.
jira
# For get_google_calendar_events.py.
google-api-python-client
# For tune_rules.py.
dill
pick
# For unit tests.
parameterized